i {
  margin: 10px;
  cursor: pointer;
}

nb-layout-column {
  background-color: white;
}

nb-card-body {
  padding: 0%;
  margin: 0%;
}

th,
td {
  font-size: 14px;
  text-align: center, start;
  vertical-align: middle;
}

p {
  font-size: 14px;
  font-weight: 600;
}

// .trRow:hover {
//   background-color: #dcdcdc;
// }
