* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  text-align: center;
  border: 1px solid blanchedalmond;
  padding: 5%;
  width: 300px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  transform: translateY(-10px);
}

img {
  height: 200px;
  width: 100%;
  text-align: center;
}

.name {
  width: 100%;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-align: start;
  margin-top: 5px;
}

.brand,
.quantity {
  font-size: 12px;
  color: black;
  font-weight: 500;
}

.cost,
.offerRate,
.offerPercentage {
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.cost,
.offerRate {
  width: 100%;
  text-align: start;
}

.brandRow {
  width: 100%;
  background-color: lightgray;
  padding: 5px;
}

.costRow {
  width: 100%;
}
